In [36]:
import pandas as pd
import geopy as gp
from geopy.distance import great_circle as gc

In [37]:
#read in googlesheet file with all Australian cities 
filepath = "https://docs.google.com/spreadsheets/d/1H1O18UQpdVyK5IJuTdQfEUf33SywMg4_KwywGBNfKGI/export?format=csv&gid=0"

In [38]:
#put googlesheet into a dataframe
df = pd.read_csv(filepath)

In [39]:
#clean up the file with only columns we need

In [40]:
#clean up the file with only columns we need + rename headers 
df=df.drop(columns=["capital","iso2","country"])
df=df.rename(columns = {'admin_name':'state'})
# convert lat from negative to positive
df['lat'] = df['lat'] * -1

In [41]:
#making a new column with the latlon of each city in a tuple
df['latlng_tup'] = list(zip(df['lat'], df['lng']))

In [42]:
#Then conevrt the latlon tuples into a list so we can loop over with each city 
latlon = df['latlng_tup'].tolist()

In [43]:
 # Cooridinates of Nuclear sites 
Tarong = (26.7713, 151.8665)
Collie= (33.3631, 116.1556)
Callide= (24.3333, 150.6167)
Liddell= (32.3833, 150.9833)
MtPiper= (33.3500, 150.0167)
LoyYang= (38.2333, 146.5833)
PortAugusta= (32.4900, 137.7700)

In [44]:
#Create a list with the distance from the city to the nuclear site
Taronglist = []
Collielist=  []
Callidelist=  []
Liddellist=  []
MtPiperlist=  []
LoyYanglist=  []
PortAugustalist=  []

# take citie cooridantes, and calculate the distance to the nuclear site using geopy.distance
for tup in latlon:
    r1 = round((gc(Tarong, tup).km))
    r2 = round((gc(Collie, tup).km))
    r3 = round((gc(Callide, tup).km))
    r4 = round((gc(Liddell, tup).km))
    r5 = round((gc(MtPiper, tup).km))
    r6 = round((gc(LoyYang, tup).km))
    r7 = round((gc(PortAugusta, tup).km))
    
    # add the distance (city to nuclear site) to its relevant list
    Taronglist.append(r1)
    Collielist.append(r2)
    Callidelist.append(r3)
    Liddellist.append(r4)
    MtPiperlist.append(r5)
    LoyYanglist.append(r6)
    PortAugustalist.append(r7)

In [45]:
# put the nuclear site lists into a another list and merge them with a list of headers--- add columns back into dataframe.
lists_to_add = [Taronglist,Collielist,Callidelist, Liddellist,MtPiperlist,LoyYanglist,PortAugustalist]
column_names = ['Tarong', 'Collie', 'Callide','Liddel', 'MtPiper', 'LoyYang', 'PortAugusta']

for col_name, sublist in zip(column_names, lists_to_add):
    df[col_name] = sublist

In [46]:
#we now have a dataframe with all the City distance from each nuclear site.
df.head()

,city,lat,lng,state,population,latlng_tup,Tarong,Collie,Callide,Liddel,MtPiper,LoyYang,PortAugusta
0,Sydney,33.8650,151.2094,New South Wales,5312163,"(33.865, 151.2094)",791,3231,1061,166,124,639,1259
1,Melbourne,37.8136,144.9631,Victoria,5078193,"(37.8136, 144.9631)",1388,2641,1592,815,674,149,882
2,Brisbane,27.4678,153.0281,Queensland,2514184,"(27.4678, 153.0281)",139,3577,424,581,715,1339,1570
3,Perth,31.9522,115.8589,Western Australia,2059484,"(31.9522, 115.8589)",3520,159,3496,3291,3187,2867,2058
4,Adelaide,34.9289,138.6011,South Australia,1345777,"(34.9289, 138.6011)",1555,2069,1652,1180,1065,801,282